<div class="row error_404">
  <div class="two columns"></div>
  <div class="four columns">
    <%= image_tag("error-404.png") %>
  </div>
  <div class="four columns">
    <h1>La pagina que has solicitado, no ha sido encontrada</h1>
    <p><a href="/">Volver a la página principal</a></p>
  </div>
  <div class="two columns"></div>
</div>
